<div class="adminContainer">
  <div class="tableCont">
    <div class="textBlock">
      <span class="txt">data from localhost:8080 updating every 5s
        please press on the row to expand
      </span>
    </div>
    <div>
      <mat-table #table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="ip">
          <mat-header-cell *matHeaderCellDef> IP addres </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ip}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="clientId">
          <mat-header-cell *matHeaderCellDef> client id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.clientId}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> status </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>
    
        <!-- Expanded Content Column - The detail row is made up of this one column -->
        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let detail"> 
            screen resolution: {{detail.element.screenResolution}} 
            update on server: {{detail.element.updateTime | date: 'dd/MM/yyyy HH:mm:ss'}} ,
            agent:{{detail.element.agent}},client time:{{detail.element.clientLocalTime | date: 'dd/MM/yyyy HH:mm:ss'}},
            time zone:{{detail.element.timeZone}}
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                matRipple 
                class="element-row" 
                [class.expanded]="expandedElement == row"
                (click)="expandedElement = row"></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                style="overflow: hidden"> 
        </mat-row>
      </mat-table>
    </div>


  </div>
  <div class="log">
    <div class="options">
      <span>
        <button (click)="refresh()" mat-stroked-button color="primary">
          <mat-icon>refresh</mat-icon>
        </button>
      </span>
      <span class="txt">refresh all </span>
      <span class="txt">This is log from rabbitMq consumer at localhost:8081</span>
    </div>
    <div class="logBlock">
      <textarea [disabled]="true">{{rabbitLog}}
            </textarea>
    </div>

  </div>
</div>