<div class="adminContainer">
  <div class="tableCont">
    <div class="textBlock">
      <span class="txt">This is table from log server at localhost:8080</span>
    </div>
    <div>
      <mat-table #table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
        </ng-container>
    
        <!-- Expanded Content Column - The detail row is made up of this one column -->
        <ng-container matColumnDef="expandedDetail">
          <mat-cell *matCellDef="let detail"> 
            The symbol for {{detail.element.name}}
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                matRipple 
                class="element-row" 
                [class.expanded]="expandedElement == row"
                (click)="expandedElement = row"></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
                [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
                style="overflow: hidden"> 
        </mat-row>
      </mat-table>
    </div>


  </div>
  <div class="log">
    <div class="options">
      <span>
        <button mat-stroked-button color="primary">
          <mat-icon>refresh</mat-icon>
        </button>
      </span>
      <span class="txt">refresh all </span>
      <span class="txt">This is log from rabbitMq consumer at localhost:8081</span>
    </div>
    <div class="logBlock">
      <textarea [disabled]="true">{{rabbitLog}}
            </textarea>
    </div>

  </div>
</div>