<div class="userContainer">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Hi user your id is : {{client?.clientId}}</mat-card-title>
            <mat-card-subtitle>status: ONLINE</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/dog.png" alt="Photo of a Shiba Inu">
  
        <mat-card-content>
            <p>
                While you looking at this dog we keep tracking you presense at website. If you will change tab to admin
                page
                tracking your presense will be stoped and you state will be OFFLINE. Thank you.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            More inormation about me
                        </mat-panel-title>
                        <mat-panel-description>
                            press here
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>Screen resolution: {{client?.screenResolution}}</p>
                    <p>local time: {{client?.clientLocalTime | date: 'dd/MM/yyyy HH:mm'}}</p>
                    <p>ip address is :{{client?.ip}}</p>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-actions>
    </mat-card>
</div>