<mat-toolbar color="white">
    <mat-toolbar-row>
        <button  class="logo-btn" disabled mat-icon-button>
            <img class="logo"src="assets/logo.png" >                
        </button>
      <span class="example-spacer"></span>
      <button routerLink="/user" mat-stroked-button color="primary"> 
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
      <button routerLink="/admin" mat-stroked-button color="primary"> 
        <mat-icon>verified_user</mat-icon>
      </button>
    </mat-toolbar-row>
</mat-toolbar>